<div class="page-top-bar <%= anotherClass %> ">
    <div class="airbnb-logo" style="width:2em; margin-left:30px">
        <img src="/img/airbnbLogo/airbnbLogo.png" alt="" style="width:100%;" />
    </div>
    <div class="global-options">
        <span>Become a host</span>
        <span>Help</span>
        <span>Sign Up</span>
        <span>Log In</span>
    </div>
</div>